*{
  font-family:  'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
}

.contaniar{
  width: 100%;
  min-height: 100vh;
  background: rgb(145,104,122);
  background: radial-gradient(circle, rgba(145,104,122,1) 32%, rgba(50,51,84,1) 88%);
  padding: 10px;

}

.todo-list h2{
  align-items: center;
  color: #323354;
  display:flex ;
  margin-bottom: 20px;


}

.todo-list{
  width: 100%;
  max-width: 540px;
  background-color: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 50px;


}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px ;

}

input{
  flex:1 ;
  border: none;
  outline: none;
  background: transparent;
  padding: 20px;
  font-weight: 14px;

}

button{

  border-style:double;
  outline: none;
  padding: 10px 50px;
  background:#91687a ;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  cursor:pointer;
  margin-right: 10px;
  border-color: white;
  
}

ul li{
  list-style: none;
  font-size:17px ;
  padding: 12px 8px 12px 50px;
  font-family: 'Fantasy';
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;


}

ul li.checked{
  color: #91687a;
  text-decoration: line-through;
}

ul li.checked::before{
  background-image: url(images/images.jpg);
}

ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #323354;
  line-height: 40px;
  text-align: center;
  border-radius: 40px;

}

ul li span:hover{
  background:#edeef0;

}


button:hover {
  background-color: #746279;
}